<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/list" routerLinkActive="active">Accueil</a>
      <a mat-list-item routerLink="/form" routerLinkActive="active">Ajouter un individu</a>
      <a mat-list-item routerLink="/rapport" routerLinkActive="active">Rapports</a>
      <!--      <a mat-list-item routerLink="/details" routerLinkActive="active">Exemple de détail</a>-->
<!--      <a mat-list-item routerLink="/login" routerLinkActive="active">Connexion</a>-->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>SIT-Mauricie</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
<!--    <app-form></app-form>-->
  </mat-sidenav-content>
</mat-sidenav-container>
