<div class="login" >
  <h1>Identification du personnel</h1>
  <div class="username">
    <mat-form-field appearance="fill">
      <mat-label>Entrez votre nom d'utilisateur</mat-label>
      <input matInput >
    </mat-form-field>
  </div>

  <div class="password">
    <mat-form-field appearance="fill">
      <mat-label>Entrez votre mot de passe</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
    </mat-form-field>

  </div>
  <div>
    <mat-button-toggle [routerLink]="['/details']" routerLinkActive="active">Connexion</mat-button-toggle>
  </div>
</div>
