<h2>Détails sur la personne</h2>
<div><label>Prénom:</label><span>{{individu.fName}}</span>
  <input type="text" id="fname" name="fname">
</div>

<!-- les inputs sont à modifier pour avoir une grosseur qui resize auto -->
<div><label>Nom: </label><span>{{individu.lName}}</span></div>
<div><label>Sexe: </label><span>{{individu.gender === 'male' ? 'Masculin':'Féminin'}}</span></div>
<div><label>Numéro d'assurance social: </label><span>{{individu.NAS}}</span></div>
<div><label>Description: {{test}} </label></div>
<div ><lable>Commentaires: </lable></div> <!-- ici on affiche les commentaires sur le patient -->
<p> <span class="textarea" role="textbox" contenteditable></span> </p>
