.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track-piece{
  background-color: #FFF;
}

::-webkit-scrollbar-thumb{
  background-color: #CBCBCB;
  outline: 2px solid #FFF;
  outline-offset: -2px;
  border: .1px solid #B7B7B7;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #909090;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
.dashboard-card-content>div{
  overflow: hidden;
}

.dashboard-card-content {
  text-align: left;
  margin: 20px;
  height: 100%;
  overflow: hidden;
}

p{
  margin: 3px;
}


/*CSS Carte infoPers*/
#infoPers{
  overflow:hidden;
  height:80%;
  position:relative;
}

.imgContainer{
  width: 120px;
  height: 120px;
  position: absolute;
  top: 10px;
  right: 50px;
}

.imgContainer img{
  width: 100%;
  height: auto;
}

button{
  position : absolute;
  top: 575px;
  left: 30px;
}
mat-form-field {
  width: 90%;
}
.nom{
  width: 50%;
  padding-right: 50%;
}
