<div class="grid-container">
  <h1 class="mat-h1">Éditer l'individu</h1>

  <mat-grid-list cols="2" rowHeight="325px">
    <!--    Tuile dans notre détails-->
    <mat-grid-tile *ngFor="let card of cards| async, let idxCard = index " [colspan]="card.cols"
                   [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <mat-icon *ngIf="idxCard==0">person</mat-icon>
            <mat-icon *ngIf="idxCard==1">health_and_safety</mat-icon>
            <mat-icon *ngIf="idxCard==2">work</mat-icon>
            <mat-icon *ngIf="idxCard==3">people</mat-icon>
            <mat-icon *ngIf="idxCard==4">list</mat-icon>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <!--        Contenu de la carte-->
        <form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
          <mat-card-content class="dashboard-card-content">
            <!--          Informations personnelles-->
            <div *ngIf="idxCard==0" id="infoPers">
            </div>
          </mat-card-content>
        </form>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
