<form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Formulaire d'enrôlement</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <label>Actif</label>
          <mat-radio-group aria-label="Select an option" formControlName="actif">
            <mat-radio-button value="1">Oui</mat-radio-button>
            <mat-radio-button value="2">Non</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Genre</label>
          <mat-radio-group aria-label="Select an option" formControlName="genre">
            <mat-radio-button value="M">Homme</mat-radio-button>
            <mat-radio-button value="F">Femme</mat-radio-button>
            <mat-radio-button value="autre">Autre</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Prénom</mat-label>
            <input formControlName="prenom" matInput>
          </mat-form-field>
          <div class="invalid" *ngIf="form.get('prenom').invalid
          && (form.get('prenom').dirty
          || form.get('prenom').touched)">
            <mat-hint *ngIf="form.get('prenom').errors.required">
              Le champ est obligatoire
            </mat-hint>
          </div>
        </div>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nom</mat-label>
          <input formControlName="nom" matInput>
        </mat-form-field>
        <div class="invalid" *ngIf="form.get('nom').invalid
          && (form.get('nom').dirty
          || form.get('nom').touched)">
          <mat-hint *ngIf="form.get('nom').errors.required">
            Le champ est obligatoire
          </mat-hint>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Date de naissance</mat-label>
            <input [matDatepicker]="picker" formControlName="dateNaissance" matInput>
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker [startAt]="startDate" startView="year"></mat-datepicker>
          </mat-form-field>
          <div class="invalid" *ngIf="form.get('dateNaissance').invalid
          && (form.get('dateNaissance').dirty
          || form.get('dateNaissance').touched)">
            <mat-hint *ngIf="form.get('dateNaissance').errors.required">
              Le champ est obligatoire
            </mat-hint>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Département</mat-label>
            <mat-select formControlName="departement">
              <mat-option value="Recyclage">Recyclage</mat-option>
              <mat-option value="SousTraitance">SousTraitance</mat-option>
              <mat-option value="AtelierArtistique">AtelierArtistique</mat-option>
              <mat-option value="TravauxCommunautaires">TravauxCommunautaires</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>NAS</mat-label>
            <input formControlName="nas" matInput type="number">
          </mat-form-field>
          <div class="invalid" *ngIf="form.get('nas').invalid
          && (form.get('nas').dirty
          || form.get('nas').touched)">
            <mat-hint *ngIf="form.get('nas').errors.required">
              Le champ est obligatoire
            </mat-hint>
          </div>
        </div>
      </div>

      <div formGroupName="adresse">
        <h4>Adresse</h4>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="mat-form-field-flex" class="full-width">
              <mat-label>Numéro civique</mat-label>
              <input formControlName="numCivic" matInput type="number">
            </mat-form-field>
            <div class="invalid" *ngIf="form.get('adresse.numCivic').invalid
          && (form.get('adresse.numCivic').dirty
          || form.get('adresse.numCivic').touched)">
              <mat-hint *ngIf="form.get('adresse.numCivic').errors.required">
                Le champ est obligatoire
              </mat-hint>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="mat-form-field-flex" class="full-width">
              <mat-label>Rue</mat-label>
              <input formControlName="rue" matInput>
            </mat-form-field>
            <div class="invalid" *ngIf="form.get('adresse.rue').invalid
          && (form.get('adresse.rue').dirty
          || form.get('adresse.rue').touched)">
              <mat-hint *ngIf="form.get('adresse.rue').errors.required">
                Le champ est obligatoire
              </mat-hint>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="mat-form-field-flex" class="full-width">
              <mat-label>Numéro d'appartement</mat-label>
              <input formControlName="appartement" matInput type="number">
            </mat-form-field>
            <div class="invalid" *ngIf="form.get('adresse.appartement').invalid
          && (form.get('adresse.appartement').dirty
          || form.get('adresse.appartement').touched)">
              <mat-hint *ngIf="form.get('adresse.appartement').errors.required">
                Le champ est obligatoire
              </mat-hint>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="mat-form-field-flex" class="full-width">
              <mat-label>Code postal</mat-label>
              <input formControlName="codePostal" matInput>
            </mat-form-field>
            <div class="invalid" *ngIf="form.get('adresse.codePostal').invalid
          && (form.get('adresse.codePostal').dirty
          || form.get('adresse.codePostal').touched)">
              <mat-hint *ngIf="form.get('adresse.codePostal').errors.required">
                Le champ est obligatoire
              </mat-hint>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="mat-form-field-flex" class="full-width">
              <mat-label>Ville</mat-label>
              <input formControlName="ville" matInput>
            </mat-form-field>
            <div class="invalid" *ngIf="form.get('adresse.ville').invalid
          && (form.get('adresse.ville').dirty
          || form.get('adresse.ville').touched)">
              <mat-hint *ngIf="form.get('adresse.ville').errors.required">
                Le champ est obligatoire
              </mat-hint>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Type de résidence</mat-label>
              <mat-select formControlName="typeResidence">
                <mat-option value="appartement">Appartement</mat-option>
                <mat-option value="maison">Maison</mat-option>
                <mat-option value="logement">Logement suppervisé</mat-option>
                <mat-option value="familleAccueil">Famille d'accueil</mat-option>
                <mat-option value="autre">Autre</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Numéro de téléphone</mat-label>
            <input formControlName="noTel" matInput type="number">
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
          <div class="invalid" *ngIf="form.get('noTel').invalid
          && (form.get('noTel').dirty
          || form.get('noTel').touched)">
            <mat-hint *ngIf="form.get('noTel').errors.required">
              Le champ est obligatoire
            </mat-hint>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Problèmes de santé/Allergies</mat-label>
            <textarea formControlName="santeAllergie" matInput></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Niveau de scolarité</mat-label>
            <mat-select formControlName="niveauScolarite">
              <mat-option value="aucun">Aucun</mat-option>
              <mat-option value="secondaire">Secondaire</mat-option>
              <mat-option value="professionnel">Professionnel</mat-option>
              <mat-option value="collegial">Collégial</mat-option>
              <mat-option value="universitaire">Universitaire</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!--        Je ne comprends pas encore la signification de ce champ-->
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Statut</mat-label>
            <mat-select formControlName="statut">
              <mat-option value="clientele">Clientèle</mat-option>
              <mat-option value="administrateur">Administration</mat-option>
              <mat-option value="intervenant">Intervenant</mat-option>
              <mat-option value="soutient">Soutient</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Référence</mat-label>
            <input formControlName="reference" matInput>
          </mat-form-field>
        </div>
      </div>

      <div formGroupName="travail">
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Lieu de travail</mat-label>
              <mat-select formControlName="lieu">
                <mat-option value="Trois-Rivières">Trois-Rivières</mat-option>
                <mat-option value="Shawinigan">Shawinigan</mat-option>
                <mat-option value="Louiseville">Louiseville</mat-option>
                <mat-option value="St-Tite">St-Tite</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Heures de travail par jour</mat-label>
            <input formControlName="heuresTravailJour" matInput type="number">
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Date de début</mat-label>
              <input [matDatepicker]="picker1" formControlName="dateDebut" matInput>
              <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #picker1 [startAt]="startDate" startView="year"></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Date de fin</mat-label>
              <input [matDatepicker]="picker2" formControlName="dateFin" matInput>
              <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #picker2 [startAt]="startDate" startView="year"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Taux horaire</mat-label>
              <input formControlName="tauxHoraire" matInput type="number">
              <mat-icon matSuffix>attach_money</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Prime de transport</mat-label>
              <input formControlName="transport" matInput type="number">
              <mat-icon matSuffix>attach_money</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div formGroupName="travauxCommunautaires">
          <div class="row">
            <div class="col">
              <label>Travaux communautaire</label>
              <mat-radio-group aria-label="Select an option" formControlName="ouiNon">
                <mat-radio-button value="oui">Oui</mat-radio-button>
                <mat-radio-button value="non">Non</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div *ngIf="form.value.travail.travauxCommunautaires.ouiNon === 'oui'" class="row">
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Date de début</mat-label>
                <input [matDatepicker]="picker7" formControlName="dateDebut" matInput>
                <mat-datepicker-toggle [for]="picker7" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #picker7 [startAt]="startDate" startView="year"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Date de fin</mat-label>
                <input [matDatepicker]="picker8" formControlName="dateFin" matInput>
                <mat-datepicker-toggle [for]="picker8" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #picker8 [startAt]="startDate" startView="year"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <h4>Intervenant Responsable</h4>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-select aria-label="Select an option" formControlName="intervenantResponsable">
              <mat-option *ngFor="let i of listIntervenant"
                          [value]="i">{{this.i.prenom + ' ' + this.i.nom}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!--      <div class="row">-->
      <!--        <div class="col">-->
      <!--          <mat-form-field appearance="fill" class="full-width">-->
      <!--            <mat-label>Motif de départ</mat-label>-->
      <!--            <mat-select formControlName="motifDepart">-->
      <!--              <mat-option value="emploi">Emploi</mat-option>-->
      <!--              <mat-option value="retourEtudes">Retour aux études</mat-option>-->
      <!--              <mat-option value="santeMentale">Problèmes de santé mentale</mat-option>-->
      <!--              <mat-option value="santePhysique">Problèmes de santé physique</mat-option>-->
      <!--              <mat-option value="Demenagement">Déménagement</mat-option>-->
      <!--              <mat-option value="finContrat">Fin de contrat</mat-option>-->
      <!--              <mat-option value="deces">Décès</mat-option>-->
      <!--              <mat-option value="autre">Autres</mat-option>-->
      <!--              <mat-option value="aucun">Aucun</mat-option>-->
      <!--            </mat-select>-->
      <!--          </mat-form-field>-->
      <!--        </div>-->
      <!--      </div>-->

      <div formGroupName="programmeEmployabilite">
        <h4>Participation à un programme d'employabilité</h4>
        <div class="row">
          <div class="col">
            <label>Actif</label>
            <mat-radio-group aria-label="Select an option" formControlName="ouiNon">
              <mat-radio-button value="oui">Oui</mat-radio-button>
              <mat-radio-button value="non">Non</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div *ngIf="form.value.programmeEmployabilite.ouiNon === 'oui'">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Date de début</mat-label>
                <input [matDatepicker]="picker3" formControlName="dateDebut" matInput>
                <mat-datepicker-toggle [for]="picker3" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #picker3 [startAt]="startDate" startView="year"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Date de fin</mat-label>
                <input [matDatepicker]="picker4" formControlName="dateFin" matInput>
                <mat-datepicker-toggle [for]="picker4" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #picker4 [startAt]="startDate" startView="year"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div formGroupName="suiviItinerance">
        <div class="row">
          <div class="col">
            <label>Suivi en itinérance</label>
            <mat-radio-group aria-label="Select an option" formControlName="ouiNon">
              <mat-radio-button value="oui">Oui</mat-radio-button>
              <mat-radio-button value="non">Non</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div *ngIf="form.value.suiviItinerance.ouiNon === 'oui'" class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Date de début</mat-label>
              <input [matDatepicker]="picker5" formControlName="dateDebut" matInput>
              <mat-datepicker-toggle [for]="picker5" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #picker5 [startAt]="startDate" startView="year"></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Date de fin</mat-label>
              <input [matDatepicker]="picker6" formControlName="dateFin" matInput>
              <mat-datepicker-toggle [for]="picker6" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #picker6 [startAt]="startDate" startView="year"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>



      <div formGroupName="personneRessource">
        <h4>Personne ressource en cas d'urgence</h4>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Prénom</mat-label>
              <input formControlName="prenom" matInput>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Nom</mat-label>
              <input formControlName="nom" matInput>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Numéro de téléphone</mat-label>
              <input formControlName="noTel" matInput type="number">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-hint>Entrez seulement des nombres</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>


      <div formGroupName="suiviPar">
        <h4>Suivi par:</h4>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-select aria-label="Select an option" formControlName="statut">
                <mat-option value="intervenant">Intervenant</mat-option>
                <mat-option value="médecin">Médecin</mat-option>
                <mat-option value="autre">Autre</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Prénom</mat-label>
              <input formControlName="prenom" matInput type="text">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Nom</mat-label>
              <input formControlName="nom" matInput type="text">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Numéro de téléphone</mat-label>
              <input formControlName="noTel" matInput type="number">
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="form.value.suiviPar.statut !== 'médecin'" class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Organisme</mat-label>
              <input formControlName="organisme" matInput type="text">
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="form.value.suiviPar.statut !== 'autre'" class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>courriel</mat-label>
              <input formControlName="courriel" matInput type="text">
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="form.value.suiviPar.statut === 'médecin'" class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Fax</mat-label>
              <input formControlName="fax" matInput type="number">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div formGroupName="donneesQualitatives">
        <h4>Notes détaillées</h4>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Notes évolutives</mat-label>
              <textarea formControlName="notesEvolutives" matInput>
              </textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Suivi</mat-label>
              <textarea formControlName="suivi" matInput>
              </textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Objectifs à atteindre</mat-label>
              <textarea formControlName="objectif" matInput>
              </textarea>
            </mat-form-field>
          </div>
        </div>
      </div>


    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!form.valid" disabled color="primary" mat-raised-button type="submit">Soumettre</button>
    </mat-card-actions>
  </mat-card>
</form>
