<form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Formulaire d'enrôlement</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col">
          <label>Actif</label>
          <mat-radio-group aria-label="Select an option" formControlName="actif">
            <mat-radio-button value="1">Oui</mat-radio-button>
            <mat-radio-button value="2">Non</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>Sexe</label>
          <mat-radio-group aria-label="Select an option" formControlName="sexe">
            <mat-radio-button value="Homme">Homme</mat-radio-button>
            <mat-radio-button value="Femme">Femme</mat-radio-button>
            <mat-radio-button value="Autre">Autre</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Prénom</mat-label>
            <input formControlName="prenom" matInput>
          </mat-form-field>
          <div class="invalid" *ngIf="form.get('prenom').invalid
          && (form.get('prenom').dirty
          || form.get('prenom').touched)">
            <mat-hint *ngIf="form.get('prenom').errors.required">
              Le champ est obligatoire
            </mat-hint>
          </div>
        </div>
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nom</mat-label>
            <input formControlName="nom" matInput>
          </mat-form-field>
          <div class="invalid" *ngIf="form.get('nom').invalid
          && (form.get('nom').dirty
          || form.get('nom').touched)">
            <mat-hint *ngIf="form.get('nom').errors.required">
              Le champ est obligatoire
            </mat-hint>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Date de naissance</mat-label>
            <input [matDatepicker]="picker" formControlName="dateNaissance" matInput>
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker [startAt]="startDate" startView="year"></mat-datepicker>
          </mat-form-field>
          <div class="invalid" *ngIf="form.get('dateNaissance').invalid
          && (form.get('dateNaissance').dirty
          || form.get('dateNaissance').touched)">
            <mat-hint *ngIf="form.get('dateNaissance').errors.required">
              Le champ est obligatoire
            </mat-hint>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="mat-form-field-flex" class="full-width">
            <mat-label>Adresse</mat-label>
            <input formControlName="adresse" matInput>
          </mat-form-field>
          <div class="invalid" *ngIf="form.get('adresse').invalid
          && (form.get('adresse').dirty
          || form.get('adresse').touched)">
            <mat-hint *ngIf="form.get('adresse').errors.required">
              Le champ est obligatoire
            </mat-hint>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Numéro de téléphone</mat-label>
            <input formControlName="noTelephone" matInput type="number">
            <mat-icon matSuffix>phone</mat-icon>
<!--            <mat-hint>Entrez seulement des nombres</mat-hint>-->
          </mat-form-field>
          <div class="invalid" *ngIf="form.get('noTelephone').invalid
          && (form.get('noTelephone').dirty
          || form.get('noTelephone').touched)">
            <mat-hint *ngIf="form.get('noTelephone').errors.required">
              Le champ est obligatoire
            </mat-hint>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>NAS</mat-label>
            <input formControlName="nas" matInput type="number">
          </mat-form-field>
          <div class="invalid" *ngIf="form.get('nas').invalid
          && (form.get('nas').dirty
          || form.get('nas').touched)">
            <mat-hint *ngIf="form.get('nas').errors.required">
              Le champ est obligatoire
            </mat-hint>
          </div>
        </div>
      </div>

      <div formGroupName="infosAdd">

        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Problèmes de santé/Allergies</mat-label>
              <textarea formControlName="sante" matInput></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Lieu de travail</mat-label>
              <mat-select formControlName="lieuTravail">
                <mat-option value="Trois-Rivières">Trois-Rivières</mat-option>
                <mat-option value="Shawinigan">Shawinigan</mat-option>
                <mat-option value="Louiseville">Louiseville</mat-option>
                <mat-option value="St-Tite">St-Tite</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Date de début</mat-label>
              <input [matDatepicker]="picker1" formControlName="dateDebutParticipation" matInput>
              <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #picker1 [startAt]="startDate" startView="year"></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Date de fin</mat-label>
              <input [matDatepicker]="picker2" formControlName="dateFinParticipation" matInput>
              <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #picker2 [startAt]="startDate" startView="year"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Référence</mat-label>
              <input formControlName="reference" matInput>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Type de résidence</mat-label>
              <mat-select formControlName="typeResidence">
                <mat-option value="appartement">Appartement</mat-option>
                <mat-option value="maison">Maison</mat-option>
                <mat-option value="logement">Logement suppervisé</mat-option>
                <mat-option value="familleAccueil">Famille d'accueil</mat-option>
                <mat-option value="autre">Autre</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Niveau de scolarité</mat-label>
              <mat-select formControlName="niveauScolarite">
                <mat-option value="aucun">Aucun</mat-option>
                <mat-option value="secondaire">Secondaire</mat-option>
                <mat-option value="professionnel">Professionnel</mat-option>
                <mat-option value="collegial">Collégial</mat-option>
                <mat-option value="universitaire">Universitaire</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        Participation à un programme d'employabilité

        <div formGroupName="programmeEmployabilite">
          <div class="row">
            <div class="col">
              <label>Actif</label>
              <mat-radio-group aria-label="Select an option" formControlName="ouiNon">
                <mat-radio-button value="oui">Oui</mat-radio-button>
                <mat-radio-button value="non">Non</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div *ngIf="form.value.infosAdd.programmeEmployabilite.ouiNon === 'oui'">
            <div class="row">
              <div class="col">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Date de début</mat-label>
                  <input [matDatepicker]="picker3" formControlName="dateDebut" matInput>
                  <mat-datepicker-toggle [for]="picker3" matSuffix></mat-datepicker-toggle>
                  <mat-datepicker #picker3 [startAt]="startDate" startView="year"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Date de fin</mat-label>
                  <input [matDatepicker]="picker4" formControlName="dateFin" matInput>
                  <mat-datepicker-toggle [for]="picker4" matSuffix></mat-datepicker-toggle>
                  <mat-datepicker #picker4 [startAt]="startDate" startView="year"></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Motif de départ</mat-label>
                  <mat-select formControlName="motifDepart">
                    <mat-option value="emploi">Emploi</mat-option>
                    <mat-option value="retourEtudes">Retour aux études</mat-option>
                    <mat-option value="santeMentale">Problèmes de santé mentale</mat-option>
                    <mat-option value="santePhysique">Problèmes de santé physique</mat-option>
                    <mat-option value="Demenagement">Déménagement</mat-option>
                    <mat-option value="finContrat">Fin de contrat</mat-option>
                    <mat-option value="deces">Décès</mat-option>
                    <mat-option value="autre">Autres</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Heures travaillées par jour</mat-label>
                  <input formControlName="heuresParJour" matInput type="number">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        Je ne comprends pas encore la signification de ce champ
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Statut</mat-label>
              <mat-select formControlName="statut">
                <mat-option value="clientele">Clientèle</mat-option>
                <mat-option value="administrateur">Administration</mat-option>
                <mat-option value="intervenant">Intervenant</mat-option>
                <mat-option value="soutient">Soutient</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div formGroupName="itinerance">
          <div class="row">
            <div class="col">
              <label>Suivi en itinérance</label>
              <mat-radio-group aria-label="Select an option" formControlName="ouiNon">
                <mat-radio-button value="oui">Oui</mat-radio-button>
                <mat-radio-button value="non">Non</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div *ngIf="form.value.infosAdd.itinerance.ouiNon === 'oui'" class="row">
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Date de début</mat-label>
                <input [matDatepicker]="picker5" formControlName="dateDebut" matInput>
                <mat-datepicker-toggle [for]="picker5" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #picker5 [startAt]="startDate" startView="year"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Date de fin</mat-label>
                <input [matDatepicker]="picker6" formControlName="dateFin" matInput>
                <mat-datepicker-toggle [for]="picker6" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #picker6 [startAt]="startDate" startView="year"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div formGroupName="travauxCommunautaires">
          <div class="row">
            <div class="col">
              <label>Travaux communautaire</label>
              <mat-radio-group aria-label="Select an option" formControlName="ouiNon">
                <mat-radio-button value="oui">Oui</mat-radio-button>
                <mat-radio-button value="non">Non</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div *ngIf="form.value.infosAdd.travauxCommunautaires.ouiNon === 'oui'" class="row">
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Date de début</mat-label>
                <input [matDatepicker]="picker7" formControlName="dateDebut" matInput>
                <mat-datepicker-toggle [for]="picker7" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #picker7 [startAt]="startDate" startView="year"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Date de fin</mat-label>
                <input [matDatepicker]="picker8" formControlName="dateFin" matInput>
                <mat-datepicker-toggle [for]="picker8" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #picker8 [startAt]="startDate" startView="year"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Taux horaire</mat-label>
              <input formControlName="tauxHoraire" matInput type="number">
              <mat-icon matSuffix>attach_money</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Prime de transport</mat-label>
              <input formControlName="primeTransport" matInput type="number">
              <mat-icon matSuffix>attach_money</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <!--              PAS ENCORE FINI IL VA FALLOIR AVOIR LA LISTE DES INTERVENANT DANS LE PROGRAMME-->
        Intervenant Responsable
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-select aria-label="Select an option" formControlName="intervenantResponsable">
                <mat-option value="Jannie Ducharme">Jannie Ducharme</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>


        Personne ressource en cas d'urgence
        <div formGroupName="personneRessource">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Prénom</mat-label>
                <input formControlName="prenom" matInput>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Nom</mat-label>
                <input formControlName="nom" matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Lien</mat-label>
                <input formControlName="lien" matInput type="text">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Numéro de téléphone</mat-label>
                <input formControlName="noTelephone" matInput type="number">
                <mat-icon matSuffix>phone</mat-icon>
                <mat-hint>Entrez seulement des nombres</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
        Suivi par:
        <div formGroupName="suiviPar">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <mat-select aria-label="Select an option" formControlName="statut">
                  <mat-option value="intervenant">Intervenant</mat-option>
                  <mat-option value="médecin">Médecin</mat-option>
                  <mat-option value="autre">Autre</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Prénom</mat-label>
                <input formControlName="prenom" matInput type="text">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Nom</mat-label>
                <input formControlName="nom" matInput type="text">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Numéro de téléphone</mat-label>
                <input formControlName="noTelephone" matInput type="number">
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="form.value.infosAdd.suiviPar.statut !== 'médecin'" class="row">
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Organisme</mat-label>
                <input formControlName="organisme" matInput type="text">
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="form.value.infosAdd.suiviPar.statut !== 'autre'" class="row">
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>courriel</mat-label>
                <input formControlName="courriel" matInput type="text">
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="form.value.infosAdd.suiviPar.statut === 'médecin'" class="row">
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Fax</mat-label>
                <input formControlName="fax" matInput type="number">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button [disabled]="!form.valid" disabled color="primary" mat-raised-button type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
