<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Formulaire d'enrôlement</mat-card-title>
    </mat-card-header>
    <mat-card-content>


     <div class="row">
       <div class="col">
         <label>Actif</label>
         <mat-radio-group aria-label="Select an option">
           <mat-radio-button value="true">Oui</mat-radio-button>
           <mat-radio-button value="false">Non</mat-radio-button>
         </mat-radio-group>
       </div>
     </div>

      <div class="row">
        <div class="col">
          <label>Sexe</label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="true">Homme</mat-radio-button>
            <mat-radio-button value="false">Femme</mat-radio-button>
            <mat-radio-button value="false">Autre</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Prénom</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nom</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Date de naissance</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="mat-form-field-flex" appearance="fill" class="full-width">
            <mat-label>Adresse</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Numéro de téléphone</mat-label>
            <input matInput type="number">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint>Entrez seulement des nombres</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>NAS</mat-label>
            <input matInput type="number">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Problèmes de santé/Allergies</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Lieu de travail</mat-label>
            <mat-select>
              <mat-option value="one">Trois-Rivières</mat-option>
              <mat-option value="two">Shawinigan</mat-option>
              <mat-option value="two">Louiseville</mat-option>
              <mat-option value="two">St-Tite</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Date de début</mat-label>
            <input matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Date de fin</mat-label>
            <input matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 startView="year" [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Référence</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Type de résidence</mat-label>
            <mat-select>
              <mat-option value="one">Appartement</mat-option>
              <mat-option value="two">Maison</mat-option>
              <mat-option value="two">Logement suppervisé</mat-option>
              <mat-option value="two">Famille d'accueil</mat-option>
              <mat-option value="two">Autre ?</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Niveau de scolarité</mat-label>
            <mat-select>
              <mat-option value="one">Aucun</mat-option>
              <mat-option value="two">Secondaire</mat-option>
              <mat-option value="two">Professionnel</mat-option>
              <mat-option value="two">Collégial</mat-option>
              <mat-option value="two">Universitaire</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      Participation à un programme d'employabilité
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Date de début</mat-label>
            <input matInput [matDatepicker]="picker3">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3 startView="year" [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Date de fin</mat-label>
            <input matInput [matDatepicker]="picker4">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4 startView="year" [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Motif de départ</mat-label>
            <mat-select>
              <mat-option value="one">Emploi</mat-option>
              <mat-option value="two">Retour aux études</mat-option>
              <mat-option value="two">Problèmes de santé mentale</mat-option>
              <mat-option value="two">Problèmes de santé physique</mat-option>
              <mat-option value="two">Déménagement</mat-option>
              <mat-option value="two">Fin de contrat</mat-option>
              <mat-option value="two">Décès</mat-option>
              <mat-option value="two">Autres</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Heures travaillées par jour</mat-label>
            <input matInput type="number">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Status</mat-label>
            <mat-select>
              <mat-option value="one">Clientèle</mat-option>
              <mat-option value="two">Administration</mat-option>
              <mat-option value="two">Intervenant</mat-option>
              <mat-option value="two">Soutient</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>Suivi en itinérance</label>
          <mat-radio-group aria-label="Select an option"
          [(ngModel)]="itinerance">
            <mat-radio-button (click)="test()" value="true">Oui</mat-radio-button>
            <mat-radio-button value="false">Non</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="col" *ngIf="itinerance">
          <mat-form-field appearance="fill" class="full-width">
          <mat-label>Date de début</mat-label>
          <input matInput [matDatepicker]="picker5">
          <!--      <input matInput>-->
          <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
          <mat-datepicker #picker5 startView="year" [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col" *ngIf="itinerance">
          <mat-form-field appearance="fill" class="full-width">
          <mat-label>Date de fin</mat-label>
          <input matInput [matDatepicker]="picker6">
          <!--      <input matInput>-->
          <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
          <mat-datepicker #picker6 startView="year" [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>Travaux communautaire</label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="true">Oui</mat-radio-button>
            <mat-radio-button value="false">Non</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Date de début</mat-label>
            <input matInput [matDatepicker]="picker7">
            <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
            <mat-datepicker #picker7 startView="year" [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Date de fin</mat-label>
            <input matInput [matDatepicker]="picker8">
            <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
            <mat-datepicker #picker8 startView="year" [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Taux horaire</mat-label>
            <input matInput type="number">
            <mat-icon matSuffix>attach_money</mat-icon>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Frais de transport</mat-label>
            <input matInput type="number">
            <mat-icon matSuffix>attach_money</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Intervenant responsable</mat-label>
            <input matInput type="number">
          </mat-form-field>
        </div>
      </div>
      Personne ressource en cas d'urgence
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Prénom</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nom</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Numéro de téléphone</mat-label>
            <input matInput type="number">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint>Entrez seulement des nombres</mat-hint>
          </mat-form-field>
        </div>
      </div>


    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
