.example-container {
  width: 100%;
  height: 100%;
}
section{
  width: 100%;
  height: 90%;
}

ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li{
  border-top: 1px grey;
  border-bottom: 1px grey;
}

header{
  background-color: indigo;
  height: 5%;
  padding: 5px;
  font-size: 25px;
}

.example-sidenav {
  padding: 20px;
}

footer{
  height: 5%;
  width: 100%;
  background-color: deeppink;
}

.material-icons.md-light{
  color:white;
}
.material-icons{
  vertical-align: bottom;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
