<!--<app-nav-menu></app-nav-menu>-->
<!--<app-login></app-login>-->
<div *ngIf="hide" class="background">
  <form (ngSubmit)="loginUser()" [formGroup]="form" novalidate>
    <div class="login">
      <h1>Authentification</h1>
      <div class="username">
        <mat-form-field appearance="fill">
          <mat-label>Entrez votre nom d'utilisateur</mat-label>
          <input (keyup)="onKey($event)" matInput formControlName="username">
        </mat-form-field>
      </div>

      <div class="password">
        <mat-form-field appearance="fill">
          <mat-label>Entrez votre mot de passe</mat-label>
          <input (keyup)="onKey($event)" matInput [type]="hideText ? 'password' : 'text'"
                 formControlName="password">
        </mat-form-field>

      </div>
      <div>
        <button type="submit" [routerLink]="['/list']" routerLinkActive="active">
          Connexion
        </button>
      </div>
    </div>
  </form>
</div>

<app-nav-menu *ngIf="!hide"></app-nav-menu>
<!--<router-outlet></router-outlet>-->
