
  <section>

  <ol>
    <h2>Personnes inscrites</h2>

    <li *ngFor="let s of individus; let i = index"
        (click)="selIdx = i"
        [ngClass]="selIdx == i ?'selected':''">

      <!--<img class="avatar" src="{{'assets/icons/'+s.gender+'.png'}}"/>                -->

      <span class="name"> {{s.fName + ' ' + s.lName}} </span>
      <span class="NAS"> {{', '+s.NAS+' '}}</span>
      <span class="red cote"></span>
      <nav>
        <!--TEST -->
        <a [routerLink]="['/login']" routerLinkActive="active">login</a>
        <a [routerLink]="['/details',selIdx]" routerLinkActive="active">Détails</a>
        <strong class="red"> | </strong>
        <a [routerLink]="['/edit', selIdx]" routerLinkActive="active">Modifier</a>
      </nav>
    </li>
  </ol>
<div class="details">

  <router-outlet></router-outlet><!--insert component ici-->

</div>


  </section>

