<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<header>
  <div class="example-sidenav-content">
    <div (click)="drawer.toggle()" style="color:white"><span class="material-icons md-36 md-light">menu</span>Menu</div>
  </div>
</header>

<section>
  <mat-drawer-container class="container" autosize hasBackdrop="false">
    <mat-drawer #drawer class="sidenav" mode="push">
      <ul>
        <li><span class="material-icons">login</span>Connexion</li>
        <li><span class="material-icons">list</span>Liste individus</li>
      </ul>
    </mat-drawer>
    <app-details></app-details>
  </mat-drawer-container>
</section>

<footer>

</footer>









