.details {
  display: flex;
  background-color: lightsteelblue;
  border-style: solid;
  border-width: 2px;
  margin: 10px;



}
section{
  display: flex;
}
nav{
  padding-left: 10px;
  margin-left:auto;
}


ol>li{
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  height: 60px;
  border: solid 1px lightgrey;
  border-bottom: none;
  cursor: pointer;
}
ol>li:last-child{
  border: solid 1px lightgray;

}
ol>li:hover{
  background-color: lightgray;
}
ol>li.selected{
  background-color: lightgray;
}
ol>li:active{
  color: brown;
}
