
.container {
  width: 100%;
  height: 100%;
}

section{
  width: 100%;
  height: 90%;
}

/*CSS pour le menu de navigation*/
.sidenav{
  padding: 0px;
}

ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li{
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 10px 10px 5px 10px;
  vertical-align: middle;
}
li:hover{
  background-color: lightgray;
}

/*CSS Header*/
header{
  background-color: indigo;
  height: 5%;
  padding: 5px;
  font-size: 25px;
}



/*CSS Footer*/
footer{
  height: 5%;
  width: 100%;
  background-color: deeppink;
}


/*CSS pour les icones*/
.material-icons.md-light{
  color:white;
}
.material-icons{
  vertical-align: bottom;
  color:purple;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
