.full-width {
  width: 50%;
}
.test{
  border:solid black 1px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.select:hover {background-color: #697df1;}
