<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>
        Choisissez votre rapport
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Rapport</mat-label>
            <mat-select formControlName="rapport">
              <mat-option value="1">Nombre d'heures travaillées par personne par semaine</mat-option>
              <mat-option value="2">Nombre d'heures travaillées par personne par mois</mat-option>
              <mat-option value="3">Nombre de personnes dans les services</mat-option>
              <mat-option value="4">Statistiques annuelles</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        [disabled]="!form.valid" disabled
        color="primary"
        mat-raised-button
        type="submit"
      >Exécuter</button>
    </mat-card-actions>
  </mat-card>
</form>

<router-outlet></router-outlet>
<!--
id, nom, prenom, heures
-->



