<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>
        Choisissez votre rapport
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Rapport</mat-label>
            <mat-select formControlName="rapport">
              <mat-option value="1">Rapport hebdo sur le nombre d’heures travaillées par personne</mat-option>
              <mat-option value="2">Rapport mensuel sur le nombre d’heures travaillées par personne</mat-option>
              <mat-option value="3">Rapport mensuel sur le nombre de personnes dans les services</mat-option>
              <mat-option value="4">Rapport statistique annuel</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        [disabled]="!form.valid" disabled
        color="primary"
        mat-raised-button
        type="submit"
      >Exécuter</button>
    </mat-card-actions>
  </mat-card>
</form>

<router-outlet></router-outlet>
<!--
id, nom, prenom, heures
-->



