
<!--<section class="flex-v">-->
<!--  <h2>Détails sur la personne</h2>-->
<!--  <div><label>Prénom:</label><span>{{individu.fName}}</span></div>-->
<!--  <div><label>Nom: </label><span>{{individu.lName}}</span></div>-->
<!--  <div><label>Sexe: </label><span>{{individu.gender === 'male' ? 'Masculin':'Féminin'}}</span></div>-->
<!--  <div><label>Numéro d'assurance social: </label><span>{{individu.NAS}}</span></div>-->
<!--  <div><label>Description:  </label></div>-->
<!--  <div ><label>Commentaires: </label></div> &lt;!&ndash; ici on affiche les commentaires sur le patient &ndash;&gt;-->

<!--  <p class="commentaires"> on mettra l'interpolation ici  </p>-->



<!--</section>-->

